# **Project Name**    -  PhonePe Transaction Insights

# **Project Summary -**
With the growing adoption of digital payment platforms like PhonePe, analyzing transaction data has become crucial for driving informed business decisions. This project explores PhonePe's transaction trends across India to uncover patterns in user engagement, insurance penetration, and digital payment preferences.

The aim is to transform raw JSON data from PhonePe into actionable insights through SQL analysis, Python-based processing, and interactive visualizations using Streamlit and Power BI. These insights are used to support business decision-making in areas such as marketing, product development, and regional expansion.

# **GitHub Link** - https://github.com/Farhaknight/PhonePe-Transactions.git

# **Problem Statement**

**Objectives:**
To Understand and analyze PhonePe transaction data to gain insights into user behaviour, market performance, and insurance penetration.

**Challenges Addressed:**

Growing digital payment usage, Need for better user targeting, Understanding geographical transaction dynamics, Improving product strategies and insurance performance

In [1]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [2]:
import os
path = r"C:\ProgramFiles\Projects\Phonepe_pulse\Miscellaneous\Pulse\data\aggregated\insurance\country\india\state"
Agg_state_list=os.listdir(path)
Agg_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [3]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Insur=pd.DataFrame(clm)

In [4]:
Agg_Insur

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,Andaman and Nicobar Islands,2020,2,Insurance,6,1360.0
1,Andaman and Nicobar Islands,2020,3,Insurance,41,15380.0
2,Andaman and Nicobar Islands,2020,4,Insurance,124,157975.0
3,Andaman and Nicobar Islands,2021,1,Insurance,225,244266.0
4,Andaman and Nicobar Islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,West Bengal,2023,4,Insurance,72712,100365562.0
678,West Bengal,2024,1,Insurance,79576,104987909.0
679,West Bengal,2024,2,Insurance,67048,89476633.0
680,West Bengal,2024,3,Insurance,77158,107451766.0
681,West Bengal,2024,4,Insurance,91719,120602777.0

In [5]:
# Save the DataFrame as a CSV file
Agg_Insur.to_csv("Agg_Insur.csv", index=False)

print("CSV file 'Agg_Insur.csv' saved successfully!")

CSV file 'Agg_Insur.csv' saved successfully!

In [6]:
#pulse/data/aggregated/transaction
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [7]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transacion_type'].append(Name)
              clm['Transacion_count'].append(count)
              clm['Transacion_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

In [8]:
Agg_Trans

,State,Year,Quater,Transacion_type,Transacion_count,Transacion_amount
0,Andaman and Nicobar Islands,2020,2,Insurance,6,1360.0
1,Andaman and Nicobar Islands,2020,3,Insurance,41,15380.0
2,Andaman and Nicobar Islands,2020,4,Insurance,124,157975.0
3,Andaman and Nicobar Islands,2021,1,Insurance,225,244266.0
4,Andaman and Nicobar Islands,2021,2,Insurance,137,181504.0
...,...,...,...,...,...,...
677,West Bengal,2023,4,Insurance,72712,100365562.0
678,West Bengal,2024,1,Insurance,79576,104987909.0
679,West Bengal,2024,2,Insurance,67048,89476633.0
680,West Bengal,2024,3,Insurance,77158,107451766.0
681,West Bengal,2024,4,Insurance,91719,120602777.0

In [9]:
# Save the DataFrame as a CSV file
Agg_Trans.to_csv("Agg_Trans.csv", index=False)

print("CSV file 'Agg_Trans.csv' saved successfully!")

CSV file 'Agg_Trans.csv' saved successfully!

In [10]:
#pulse/data/aggregated/user
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [11]:
import pandas as pd
import json
import os

# Define the path to the data directory
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list = os.listdir(path)

# Dictionary to store extracted data
clm = {'State': [], 'Year': [], 'Quarter': [], 'Brand': [], 'Registered_Users': [], 'App_Opens': [], 'Total_Registered_Users': [], 'Total_App_Opens': []}

# Extracting data to create a dataframe
for i in Agg_state_list:
    p_i = path + i + "/"
    Agg_yr = os.listdir(p_i)
    for j in Agg_yr:
        p_j = p_i + j + "/"
        Agg_yr_list = os.listdir(p_j)
        for k in Agg_yr_list:
            p_k = p_j + k
            with open(p_k, 'r') as Data:
                D = json.load(Data)

                # Check if 'aggregated' exists and is not None
                if 'aggregated' not in D['data'] or D['data']['aggregated'] is None:
                    continue  # Skip this file if no aggregated data

                total_registered_users = D['data']['aggregated'].get('registeredUsers', 0)
                total_app_opens = D['data']['aggregated'].get('appOpens', 0)

                if 'usersByDevice' in D['data'] and D['data']['usersByDevice'] is not None:
                    for z in D['data']['usersByDevice']:
                        clm['Brand'].append(z['brand'])
                        clm['Registered_Users'].append(z['count'])
                        clm['App_Opens'].append(total_app_opens)
                        clm['State'].append(i)
                        clm['Year'].append(j)
                        clm['Quarter'].append(int(k.strip('.json')))
                        clm['Total_Registered_Users'].append(total_registered_users)
                        clm['Total_App_Opens'].append(total_app_opens)

# Successfully created a dataframe
Agg_Users = pd.DataFrame(clm)

In [12]:
Agg_Users

Empty DataFrame
Columns: [State, Year, Quarter, Brand, Registered_Users, App_Opens, Total_Registered_Users, Total_App_Opens]
Index: []

In [13]:
import json
import os
import pandas as pd

# This is to extract the data and create a DataFrame
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list = os.listdir(path)  # List of states in India

clm = {'State': [], 'Year': [], 'Quater': [], 'User_Brand': [], 'User_Count': [], 'User_Percentage': []}

for i in Agg_state_list:
    state_path = os.path.join(path, i)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for quarter_file in os.listdir(year_path):
            file_path = os.path.join(year_path, quarter_file)
            try:
                with open(file_path, 'r') as Data:
                    D = json.load(Data)
                    users_by_device = D.get('data', {}).get('usersByDevice', [])

                    if users_by_device:
                        for device in users_by_device:
                            clm['State'].append(i)
                            clm['Year'].append(year)
                            clm['Quater'].append(int(quarter_file.replace('.json', '')))
                            clm['User_Brand'].append(device.get('brand', 'Unknown'))
                            clm['User_Count'].append(device.get('count', 0))
                            clm['User_Percentage'].append(device.get('percentage', 0.0))

            except (KeyError, json.JSONDecodeError, TypeError) as e:
                print(f"Error processing file {file_path}: {e}")
                clm['State'].append(i)
                clm['Year'].append(year)
                clm['Quater'].append(int(quarter_file.replace('.json', '')))
                clm['User_Brand'].append(None)
                clm['User_Count'].append(0)
                clm['User_Percentage'].append(0.0)

# Successfully created a DataFrame
Agg_Users = pd.DataFrame(clm)

In [14]:
Agg_Users

Empty DataFrame
Columns: [State, Year, Quater, User_Brand, User_Count, User_Percentage]
Index: []

In [15]:
import os
import json
import pandas as pd

# Define the path to the data directory
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/aggregated/insurance/country/india/state/"
Agg_state_list = os.listdir(path)

# Dictionary to store extracted data
clm = {
    'State': [], 'Year': [], 'Quarter': [], 'Brand': [], 'Registered_Users': [], 'App_Opens': [],
    'Total_Registered_Users': [], 'Total_App_Opens': [], 'User_Percentage': []
}

# Extracting data to create a dataframe
for state in Agg_state_list:
    state_path = os.path.join(path, state)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for quarter_file in os.listdir(year_path):
            file_path = os.path.join(year_path, quarter_file)
            try:
                with open(file_path, 'r') as Data:
                    D = json.load(Data)
                    total_registered_users = D.get('data', {}).get('aggregated', {}).get('registeredUsers', 0)
                    total_app_opens = D.get('data', {}).get('aggregated', {}).get('appOpens', 0)
                    users_by_device = D.get('data', {}).get('usersByDevice', [])

                    if users_by_device:
                        for device in users_by_device:
                            clm['State'].append(state)
                            clm['Year'].append(year)
                            clm['Quarter'].append(int(quarter_file.replace('.json', '')))
                            clm['Brand'].append(device.get('brand', 'Unknown'))
                            clm['Registered_Users'].append(device.get('count', 0))
                            clm['App_Opens'].append(total_app_opens)
                            clm['Total_Registered_Users'].append(total_registered_users)
                            clm['Total_App_Opens'].append(total_app_opens)
                            clm['User_Percentage'].append(device.get('percentage', 0.0))
                    else:
                        clm['State'].append(state)
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(quarter_file.replace('.json', '')))
                        clm['Brand'].append(None)
                        clm['Registered_Users'].append(0)
                        clm['App_Opens'].append(0)
                        clm['Total_Registered_Users'].append(0)
                        clm['Total_App_Opens'].append(0)
                        clm['User_Percentage'].append(0.0)
            except (KeyError, json.JSONDecodeError, TypeError) as e:
                print(f"Error processing file {file_path}: {e}")
                clm['State'].append(state)
                clm['Year'].append(year)
                clm['Quarter'].append(int(quarter_file.replace('.json', '')))
                clm['Brand'].append(None)
                clm['Registered_Users'].append(0)
                clm['App_Opens'].append(0)
                clm['Total_Registered_Users'].append(0)
                clm['Total_App_Opens'].append(0)
                clm['User_Percentage'].append(0.0)

# Successfully created a DataFrame
Agg_Users = pd.DataFrame(clm)
print(Agg_Users.head())

                         State  Year  Quarter Brand  Registered_Users  \
0  Andaman and Nicobar Islands  2020        2  None                 0
1  Andaman and Nicobar Islands  2020        3  None                 0
2  Andaman and Nicobar Islands  2020        4  None                 0
3  Andaman and Nicobar Islands  2021        1  None                 0
4  Andaman and Nicobar Islands  2021        2  None                 0

   App_Opens  Total_Registered_Users  Total_App_Opens  User_Percentage
0          0                       0                0              0.0
1          0                       0                0              0.0
2          0                       0                0              0.0
3          0                       0                0              0.0
4          0                       0                0              0.0

In [16]:
# Save the DataFrame as a CSV file
Agg_Users.to_csv("Agg_Users.csv", index=False)

print("CSV file 'Agg_Users.csv' saved successfully!")

CSV file 'Agg_Users.csv' saved successfully!

In [17]:
#pulse/data/map/insurance
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/insurance/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [18]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/insurance/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list
#map_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Insurance_type':[], 'Insurance_count':[], 'Insurance_amount':[]}

for i in map_state_list:
    p_i=path+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Insurance_type'].append(Name)
              clm['Insurance_count'].append(count)
              clm['Insurance_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Insur=pd.DataFrame(clm)

In [19]:
Map_Insur

,State,Year,Quater,Insurance_type,Insurance_count,Insurance_amount
0,Andaman and Nicobar Islands,2020,2,south andaman district,3,795.0
1,Andaman and Nicobar Islands,2020,2,nicobars district,3,565.0
2,Andaman and Nicobar Islands,2020,3,north and middle andaman district,1,281.0
3,Andaman and Nicobar Islands,2020,3,south andaman district,35,13651.0
4,Andaman and Nicobar Islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,West Bengal,2024,4,alipurduar district,1023,1613143.0
13872,West Bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,West Bengal,2024,4,nadia district,3807,5031294.0
13874,West Bengal,2024,4,birbhum district,1818,2423290.0
13875,West Bengal,2024,4,purba medinipur district,3559,4439061.0

In [20]:
# Save the DataFrame as a CSV file
Map_Insur.to_csv("Map_Insur.csv", index=False)

print("CSV file 'Map_Insur.csv' saved successfully!")

CSV file 'Map_Insur.csv' saved successfully!

In [21]:
#pulse/data/map/transaction
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/insurance/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [22]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/insurance/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list
#map_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}

for i in map_state_list:
    p_i=path+i+"/"
    map_yr=os.listdir(p_i)
    for j in map_yr:
        p_j=p_i+j+"/"
        map_yr_list=os.listdir(p_j)
        for k in map_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quater'].append(int(k.strip('.json')))
#Succesfully created a dataframe
Map_Trans=pd.DataFrame(clm)

In [23]:
Map_Trans

,State,Year,Quater,Transaction_type,Transaction_count,Transaction_amount
0,Andaman and Nicobar Islands,2020,2,south andaman district,3,795.0
1,Andaman and Nicobar Islands,2020,2,nicobars district,3,565.0
2,Andaman and Nicobar Islands,2020,3,north and middle andaman district,1,281.0
3,Andaman and Nicobar Islands,2020,3,south andaman district,35,13651.0
4,Andaman and Nicobar Islands,2020,3,nicobars district,5,1448.0
...,...,...,...,...,...,...
13871,West Bengal,2024,4,alipurduar district,1023,1613143.0
13872,West Bengal,2024,4,paschim bardhaman district,4945,7005851.0
13873,West Bengal,2024,4,nadia district,3807,5031294.0
13874,West Bengal,2024,4,birbhum district,1818,2423290.0
13875,West Bengal,2024,4,purba medinipur district,3559,4439061.0

In [24]:
# Save the DataFrame as a CSV file
Map_Trans.to_csv("Map_Trans.csv", index=False)

print("CSV file 'Map_Trans.csv' saved successfully!")

CSV file 'Map_Trans.csv' saved successfully!

In [25]:
#pulse/data/map/user
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/user/hover/country/india/state/"
map_state_list=os.listdir(path)
map_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [26]:
import pandas as pd
import json
import os

# This is to direct the path to get the data as states
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/map/user/hover/country/india/state/"
map_state_list = os.listdir(path)  # List of states in India

# Extracting data to create a DataFrame
clm = {'State': [], 'Year': [], 'Quater': [], 'Registered_Users': [], 'App_Opens': []}

for i in map_state_list:
    state_path = os.path.join(path, i)
    for year in os.listdir(state_path):
        year_path = os.path.join(state_path, year)
        for quarter_file in os.listdir(year_path):
            file_path = os.path.join(year_path, quarter_file)
            try:
                with open(file_path, 'r') as Data:
                    D = json.load(Data)
                    hover_data = D.get('data', {}).get('hoverData', {})

                    for location, details in hover_data.items():
                        clm['State'].append(i)
                        clm['Year'].append(year)
                        clm['Quater'].append(int(quarter_file.replace('.json', '')))
                        clm['Registered_Users'].append(details.get('registeredUsers', 0))
                        clm['App_Opens'].append(details.get('appOpens', 0))

            except (KeyError, json.JSONDecodeError, TypeError) as e:
                print(f"Error processing file {file_path}: {e}")
                clm['State'].append(i)
                clm['Year'].append(year)
                clm['Quater'].append(int(quarter_file.replace('.json', '')))
                clm['Registered_Users'].append(0)
                clm['App_Opens'].append(0)

# Successfully created a DataFrame
Map_Users = pd.DataFrame(clm)

In [27]:
Map_Users

                             State  Year  Quater  Registered_Users  App_Opens
0      Andaman and Nicobar Islands  2018       1               632          0
1      Andaman and Nicobar Islands  2018       1              5846          0
2      Andaman and Nicobar Islands  2018       1               262          0
3      Andaman and Nicobar Islands  2018       2               911          0
4      Andaman and Nicobar Islands  2018       2              8143          0
...                            ...   ...     ...               ...        ...
20603                  West Bengal  2024       4            475688   31842355
20604                  West Bengal  2024       4           1468252   80543469
20605                  West Bengal  2024       4           1861738   98740305
20606                  West Bengal  2024       4           1114220   73465525
20607                  West Bengal  2024       4           1717074  108350777

[20608 rows x 5 columns]

In [28]:
# Save the DataFrame as a CSV file
Map_Users.to_csv("Map_Users.csv", index=False)

print("CSV file 'Map_Users.csv' saved successfully!")

CSV file 'Map_Users.csv' saved successfully!

In [29]:
#pulse/data/top/insurance
import os
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/insurance/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [30]:
import pandas as pd
import json
import os

# Path to the data
path = r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/insurance/country/india/state/"

# Initialize DataFrame structure
clm = {'State/District/Pincode': [], 'Year': [], 'Quater': [], 'Category': [], 'Insurance_count': [], 'Insurance_amount': []}

# Loop through the available years
for year in os.listdir(path):
    year_path = os.path.join(path, year)

    # Check if it's a valid directory
    if not os.path.isdir(year_path):
        continue

    # Loop through all JSON files directly inside the Year folder
    for file in os.listdir(year_path):
        if file.endswith(".json"):
            file_path = os.path.join(year_path, file)

            with open(file_path, 'r') as Data:
                D = json.load(Data)

            # Extract state/district/pincode level data
            for category in ["states", "districts", "pincodes"]:
                if category in D["data"]:
                    for entry in D["data"][category]:
                        clm['State/District/Pincode'].append(entry["entityName"])
                        clm['Year'].append(year)
                        clm['Quater'].append(int(file.strip('.json')))  # Extract quarter from filename
                        clm['Category'].append(category)
                        clm['Insurance_count'].append(entry["metric"]["count"])
                        clm['Insurance_amount'].append(entry["metric"]["amount"])

# Convert to DataFrame
Top_Insur = pd.DataFrame(clm)

In [31]:
Top_Insur

Empty DataFrame
Columns: [State/District/Pincode, Year, Quater, Category, Insurance_count, Insurance_amount]
Index: []

In [32]:
# Save the DataFrame as a CSV file
Top_Insur.to_csv("Top_Insur.csv", index=False)

print("CSV file 'Top_Insur.csv' saved successfully!")

CSV file 'Top_Insur.csv' saved successfully!

In [33]:
#pulse/data/top/transaction
import os
path=r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [34]:
import pandas as pd
import json
import os

# Path to the data
path=r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/transaction/country/india/state/"

# Initialize DataFrame structure
clm = {'State/District/Pincode': [], 'Year': [], 'Quater': [], 'Category': [], 'Transaction_count': [], 'Transaction_amount': []}

# Loop through the available years
for year in os.listdir(path):
    year_path = os.path.join(path, year)

    # Check if it's a valid directory
    if not os.path.isdir(year_path):
        continue

    # Loop through all JSON files directly inside the Year folder
    for file in os.listdir(year_path):
        if file.endswith(".json"):
            file_path = os.path.join(year_path, file)

            with open(file_path, 'r') as Data:
                D = json.load(Data)

            # Extract state/district/pincode level data
            for category in ["states", "districts", "pincodes"]:
                if category in D["data"]:
                    for entry in D["data"][category]:
                        clm['State/District/Pincode'].append(entry["entityName"])
                        clm['Year'].append(year)
                        clm['Quater'].append(int(file.strip('.json')))  # Extract quarter from filename
                        clm['Category'].append(category)
                        clm['Transaction_count'].append(entry["metric"]["count"])
                        clm['Transaction_amount'].append(entry["metric"]["amount"])

# Convert to DataFrame
Top_Trans = pd.DataFrame(clm)

In [35]:
Top_Trans

Empty DataFrame
Columns: [State/District/Pincode, Year, Quater, Category, Transaction_count, Transaction_amount]
Index: []

In [36]:
# Save the DataFrame as a CSV file
Top_Trans.to_csv("Top_Trans.csv", index=False)

print("CSV file 'Top_Trans.csv' saved successfully!")

CSV file 'Top_Trans.csv' saved successfully!

In [37]:
#pulse/data/top/user
import os
path=r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

['Andaman and Nicobar Islands',
 'Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chandigarh',
 'Chhattisgarh',
 'Dadra and Nagar Haveli and Daman and Diu',
 'Delhi',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu and Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Ladakh',
 'Lakshadweep',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Puducherry',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Telangana',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal']

In [38]:
import pandas as pd
import json
import os

# Define the path to user registration data
path=r"C:/ProgramFiles/Projects/Phonepe_pulse/Miscellaneous/Pulse/data/top/user/country/india/state/"
user_state_list = os.listdir(path)

# Dictionary to store extracted data
clm = {'State/District/Pincode': [], 'Year': [], 'Quarter': [], 'Registered_Users': []}

for state in user_state_list:
    state_path = os.path.join(path, state)
    years = os.listdir(state_path)

    for year in years:
        year_path = os.path.join(state_path, year)
        quarters = os.listdir(year_path)

        for quarter in quarters:
            quarter_path = os.path.join(year_path, quarter)

            # Read JSON file
            with open(quarter_path, 'r') as data_file:
                D = json.load(data_file)

            # Ensure 'data' exists before accessing its keys
            if 'data' in D and D['data']:

                # Process state-level data
                if 'states' in D['data'] and D['data']['states']:
                    for state_data in D['data']['states']:
                        clm['State/District/Pincode'].append(state_data.get('name', 'Unknown'))
                        clm['Registered_Users'].append(state_data.get('registeredUsers', 0))
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(quarter.strip('.json')))

                # Process district-level data
                if 'districts' in D['data'] and D['data']['districts']:
                    for district_data in D['data']['districts']:
                        clm['State/District/Pincode'].append(district_data.get('name', 'Unknown'))
                        clm['Registered_Users'].append(district_data.get('registeredUsers', 0))
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(quarter.strip('.json')))

                # Process pincode-level data
                if 'pincodes' in D['data'] and D['data']['pincodes']:
                    for pincode_data in D['data']['pincodes']:
                        clm['State/District/Pincode'].append(pincode_data.get('name', 'Unknown'))
                        clm['Registered_Users'].append(pincode_data.get('registeredUsers', 0))
                        clm['Year'].append(year)
                        clm['Quarter'].append(int(quarter.strip('.json')))

# Convert dictionary to DataFrame
Top_Users = pd.DataFrame(clm)

In [39]:
Top_Users

         State/District/Pincode  Year  Quarter  Registered_Users
0                 south andaman  2018        1              5846
1      north and middle andaman  2018        1               632
2                      nicobars  2018        1               262
3                        744103  2018        1              1608
4                        744101  2018        1              1108
...                         ...   ...      ...               ...
18291                    733134  2024        4            169596
18292                    700059  2024        4            169448
18293                    711302  2024        4            146034
18294                    700150  2024        4            142151
18295                    711106  2024        4            142077

[18296 rows x 4 columns]

In [40]:
# Save the DataFrame as a CSV file
Top_Users.to_csv("Top_Users.csv", index=False)

print("CSV file 'Top_Users.csv' saved successfully!")

CSV file 'Top_Users.csv' saved successfully!

# **Conclusion**

The PhonePe Transaction Insights project successfully demonstrated the end-to-end data analytics pipeline – from data extraction and transformation to visualization and insight generation. By analyzing key transaction metrics, state/district-level trends, and insurance penetration, the project provides a comprehensive understanding of digital payment behavior across India. The integration of SQL, Python, Streamlit, and Power BI ensured both analytical depth and interactive presentation of insights, useful for both technical and business audiences.